<meta charset="UTF-8">
<title>Recipe Builder</title>

<link rel="stylesheet" type="text/css" href="/public/bootstrap.min.css">
<link rel="icon" type="image/x-icon" href="/public/favicon.ico">
<style>
  body { padding-top:50px; }
</style>