<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body class="container">

<header>
    <%- include('./partials/header') %>
</header>

<main>
  <div class="jumbotron">
    <h1>Recipe Builder</h1>
    <p>Welcome to Recipe Builder!</p>

    <h2>About us</h2>
    <h3>We are a small team passionate about cooking. We created Recipe Builder to:</h3>
    <ul>
        <li>
          <strong>Help you get the best recipe out</strong>
        </li>
        <li>
          <strong>Make sure you pick only the best combinations</strong>
        </li>
        <li>
          <strong>Our algorithm can help you achieve your dream recipe!</strong>
        </li>
    </ul>
  </div>
</main>

<footer>
    <%- include('./partials/footer') %>
</footer>

</body>
</html>