<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body class="container">

<header>
    <%- include('./partials/header') %>
</header>

<main>
  <div class="jumbotron">
    <h1>Recipe Builder</h1>
    <p>Welcome to Recipe Builder!</p>

    <h2>Privacy Policy</h2>
    <h3>We promise to:</h3>
    <ul>
        <li><strong>Never sell your data to third parties</strong></li>
        <li>
            <strong>keep all your personal information safely secured</strong>
          </li>
    </ul>
  </div>
</main>

<footer>
    <%- include('./partials/footer') %>
</footer>

</body>
</html>